<html>
<html lang="es">
<head>
    <title>Formulario</title>
    <meta charset="utf-8">
    <link type="text/css" href="./css/style.css" rel="stylesheet" />
</head>
 
<body>
 
    <div id="registrar">
        <a>Sistema de colocaciones</a>      <a>Registrar usuario</a>
</div> <!-- fin opcion-->
 
    <div id="envoltura">
        <div id="contenedor">
 
            <div id="cabecera" >
               

                 <img src="sis.jpeg">
            </div>
 
            <div id="cuerpo">
                <form id="form-login" action="" method="post" autocomplete="off">
                    <!--A saber, el atributo for funciona como el id.-->
                    <!--ejemplo <label for="usuario">Usuario:</label>-->
                    <!--required es nuevo en html5, si el campo está vacío te avisa, pero cuidado, no valida la información-->
                    <p><label >Usuario:</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresa Usuario" autofocus="" required=""></p>
 
                    <p><label>Contraseña:</label></p>
                        <input name="contrasenia" type="password" id="contrasenia" placeholder="Ingresar contraseña" required=""></p>

                    <p><label >DNI</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresa DNI" autofocus="" required=""></p>
    
                    <p><label >Fecha de nacimiento</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresa Fecha de nacimiento" autofocus="" required=""></p>
 
                    <p><label >Profesion</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresa Profesion" autofocus="" required=""></p>

                    <p><label >Experiencia laboral</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresa Experiencia laboral" autofocus="" required=""></p>

                    <p><label >Habilidades</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresa Habilidades" autofocus="" required=""></p>

                    <p id="bot"><input type="submit" id="submit" name="submit" value="Ingresar" class="boton"style="background:yellow" Value="Boton"> </p>
                </form>
            </div><!--fin cuerpo-->
 
            <div id="pie">Sistema de colocaciones</div>
        </div><!-- fin contenedor -->
    </div><!--fin envoltura-->
</body>
 
</html>
