<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Sistema de Colocaciones{% endblock %}</title>
    <link rel='stylesheet' href={{ static('css/bootstrap-reboot.min.css') }}>
    <link rel='stylesheet' href={{ static('css/bootstrap-grid.min.css') }}>
    <link rel='stylesheet' href={{ static('css/bootstrap.min.css') }}>
    <link rel='stylesheet' href={{ static('css/style.css') }}>
  </head>
  <body class="{% block body_class %}{% endblock %}">
    
    <div class="main">
        <header class="header">
            <h1>Sistema de Colocaciones</h1> 
            {% if user.is_authenticated() %}
            <div class="text-right">
                <a class="btn btn-info" href="{{ url('logout') }}">Cerrar sesion</a>
            </div>
            {% else %}
                <a class="btn btn-warning" href="{{ url('login') }}">Ingresar</a> 
                <a class="btn btn-info" href="{{ url('registrar.empresa') }}">Registrar Empresa</a>
                <a class="btn btn-info" href="{{ url('registrar.desocupado') }}">Registrar Usuario</a> 
            {% endif %}
            <hr>
        </header>
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>
