<html>
<html lang="es">
<head>
    <title>Formulario</title>
</head>
 
<body>
 
    <div id="registrar">
        <a>Registrar Empresa</a>
</div> <!-- fin opcion-->
 
    <div id="envoltura">
        <div id="contenedor">
 
            <div id="cabecera" >
            </div>
 
            <div id="cuerpo">
                <form id="form-login" action="" method="post" autocomplete="off">
                    <!--A saber, el atributo for funciona como el id.-->
                    <!--ejemplo <label for="usuario">Usuario:</label>-->
                    <!--required es nuevo en html5, si el campo está vacío te avisa, pero cuidado, no valida la información-->
                    <p><label >CUIL:</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresa CUIL" autofocus="" required=""></p>
 
                    <p><label>Razon social:</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresar Razon social" required=""></p>

                    <p><label >Descripcion:</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresa Descripcion" autofocus="" required=""></p>
    
                    <p><label >Logo:</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresa Logo" autofocus="" required=""></p>
 
                    <p><label >Rubro:</label></p>
                        <input name="usuario" type="text" id="usuario" placeholder="Ingresa Rubro" autofocus="" required=""></p>

                    <p id="bot"><input type="submit" id="submit" name="submit" value="Ingresar" class="boton"style="background:yellow" Value="Boton"> </p>
                </form>
            </div><!--fin cuerpo--
        </div><!-- fin contenedor -->
    </div><!--fin envoltura-->
</body>
 
</html>
